In [1]:
#import dependencies
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np

In [2]:
#Load CSV Files

# sources: https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/data#
events_file = 'Resources/athlete_events.csv'
df_events = pd.read_csv(events_file)

regions_file = 'Resources/noc_regions.csv'
df_regions = pd.read_csv(regions_file)

pop_gdp_file = 'Resources/population_gdp.csv'
df_pop_gdp_orig = pd.read_csv(pop_gdp_file, thousands=',')

In [3]:
# df_events.head()

In [4]:
# df_regions.head()

In [5]:
# clean worldbank data
df_pop_gdp = df_pop_gdp_orig
df_pop_gdp = df_pop_gdp.drop(columns = ['Series Code'], axis =1)
df_pop_gdp = df_pop_gdp.rename(
    columns={
        "Series Name": "series_name", 
        "Country Name": "country_name",
        "Country Code": "country_code"})

df_pop_gdp.columns = df_pop_gdp.columns.str.split(' ').str[0].tolist()

keep_columns = ['series_name', 'country_name', 'country_code']
event_years = df_events.Year.unique().astype(str)

for i in event_years:
    keep_columns.append(i)

df_pop_gdp = df_pop_gdp[df_pop_gdp.columns.intersection(keep_columns)]

df_gdp = df_pop_gdp.loc[df_pop_gdp["series_name"] == "GDP (current US$)"]
df_pop = df_pop_gdp.loc[df_pop_gdp["series_name"] == "Population, total"]

In [7]:
df_gdp.head()

,series_name,country_name,country_code,1960,1964,1968,1972,1976,1980,1984,...,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016
0,GDP (current US$),Afghanistan,AFG,537777811.111111,800000044.444444,1373333366.66667,1595555475.55556,2555555566.66667,3641723321.99546,..,...,..,..,4055176933.36905,5226775163.30205,6971286731.72065,10109218067.7904,15856574731.4411,20001615788.6719,20484873230.2111,19362642266.6484
1,GDP (current US$),Albania,ALB,..,..,..,..,..,..,1857338011.85488,...,2545967253.2416,3480355188.60063,4348070165.19261,7184681398.5698,8896073938.31407,12881353984.6426,11926962834.9645,12319784701.3346,13228244336.3241,11861353752.0672
2,GDP (current US$),Algeria,DZA,2723648551.75208,2909351792.58659,3852115816.97758,6761786386.54713,17728347374.994,42345277342.0195,53698278905.9678,...,48187747528.899,54786074940.2073,56758113501.1671,85324767230.4939,117030941571.939,170997541140.985,161205065469.309,209062886917.045,213808808746.696,160032930353.764
3,GDP (current US$),American Samoa,ASM,..,..,..,..,..,..,..,...,..,..,514000000,512000000,496000000,563000000,576000000,644000000,642000000,652000000
4,GDP (current US$),Andorra,AND,..,..,..,113408231.944085,227281024.620741,446416105.825017,330070689.298282,...,1211932397.81713,1434429703.33518,1733116883.11688,2935659299.72684,3543256805.92147,4007353156.58415,3355695364.23841,3164615186.94591,3350736367.25488,2877311946.90265

In [8]:
df_pop.head()

,series_name,country_name,country_code,1960,1964,1968,1972,1976,1980,1984,...,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016
264,"Population, total",Afghanistan,AFG,8996973,9744781,10637063,11791215,12943093,13356511,12204292,...,19737765,20779953,22600770,24726684,26433049,27722276,29185507,31161376,33370794,35383128
265,"Population, total",Albania,ALB,1608800,1814135,2022272,2243126,2458526,2671997,2904429,...,3128530,3089027,3051010,3026939,2992547,2947314,2913021,2900401,2889104,2876101
266,"Population, total",Algeria,DZA,11057863,12221675,13663583,15285990,17085801,19221665,21763575,...,30192754,31042235,31855109,32692163,33641002,34730608,35977455,37383887,38923687,40551404
267,"Population, total",American Samoa,ASM,20123,22854,25989,28567,30456,32646,37946,...,56171,57821,59080,59681,59107,57492,56079,55667,55791,55741
268,"Population, total",Andorra,AND,13411,17469,21890,26892,31777,36067,42706,...,64142,65390,70049,76244,80993,83862,84449,82427,79213,77297