In [1]:
#import dependencies
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
import sqlite3
Base = declarative_base()

In [2]:
#Load CSV Files

# sources: https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/data#
# Data starts in 1896
events_file = 'Resources/athlete_events.csv'
df_events_orig = pd.read_csv(events_file)

# source: World Bank (https://databank.worldbank.org/reports.aspx?source=2&series=NY.GDP.MKTP.CD&country=#) 
# Data starts in 1960
pop_gdp_file = 'Resources/population_gdp.csv'
df_pop_gdp_orig = pd.read_csv(pop_gdp_file)

In [3]:
# clean worldbank data
df_pop_gdp = df_pop_gdp_orig
df_pop_gdp = df_pop_gdp.drop(columns = ['Series Code'], axis =1)
df_pop_gdp = df_pop_gdp.rename(
    columns={
        "Series Name": "series_name", 
        "Country Name": "country_name",
        "Country Code": "country_code"})

df_pop_gdp.columns = df_pop_gdp.columns.str.split(' ').str[0].tolist()

keep_columns = ['series_name', 'country_name', 'country_code']
event_years = df_events_orig.Year.unique().astype(str)

for i in event_years:
    keep_columns.append(i)

df_pop_gdp = df_pop_gdp[df_pop_gdp.columns.intersection(keep_columns)]

df_gdp = df_pop_gdp.loc[df_pop_gdp["series_name"] == "GDP (current US$)"]
df_pop = df_pop_gdp.loc[df_pop_gdp["series_name"] == "Population, total"]

In [4]:
# clean Olympic NOC and worldbank country_code to match each other

# extract WorldBank's country_code and country_name
df_worldbanknames = df_pop[["country_code", "country_name"]]

# create a column with stripped country_name
# Sanitize
df_worldbanknames['Wclean'] = df_worldbanknames ['country_name'].str.replace(" ", "").str.lower()

# create a column with stripped Team name in Olympic Data
df_events = df_events_orig
# Santize
df_events['Oclean'] = df_events ['Team'].str.replace(" ", "").str.lower()

# Unique transformations of countries that are in both data bases, but didn't match up.
df_events['NOC'] = df_events['NOC'].str.replace("IRI", "IRN")
df_events['NOC'] = df_events['NOC'].str.replace("GER", "DEU")
df_events['NOC'] = df_events['NOC'].str.replace("BAH", "BHS")
df_events['NOC'] = df_events['NOC'].str.replace("SUI", "CHE")
df_events['NOC'] = df_events['NOC'].str.replace("ISV", "VIR")
df_events['NOC'] = df_events['NOC'].str.replace("GRE", "GRC")
df_events['NOC'] = df_events['NOC'].str.replace("DEN", "DNK")
df_events['NOC'] = df_events['NOC'].str.replace("NED", "NLD")
df_events['NOC'] = df_events['NOC'].str.replace("CGO", "COG")
df_events['NOC'] = df_events['NOC'].str.replace("LAT", "LVA")
df_events['NOC'] = df_events['NOC'].str.replace("INA", "IDN")
df_events['NOC'] = df_events['NOC'].str.replace("GAM", "GMB")
df_events['NOC'] = df_events['NOC'].str.replace("GBS", "GNB")
df_events['NOC'] = df_events['NOC'].str.replace("MAS", "MYS")
df_events['NOC'] = df_events['NOC'].str.replace("NGR", "NGA")
df_events['NOC'] = df_events['NOC'].str.replace("VIN", "VCT")
df_events['NOC'] = df_events['NOC'].str.replace("BRU", "BRN")
df_events['NOC'] = df_events['NOC'].str.replace("SLO", "SVN")
df_events['NOC'] = df_events['NOC'].str.replace("MRI", "MUS")
df_events['NOC'] = df_events['NOC'].str.replace("BUL", "BGR")
df_events['NOC'] = df_events['NOC'].str.replace("PUR", "PRI")
df_events['NOC'] = df_events['NOC'].str.replace("MON", "MCO")
df_events['NOC'] = df_events['NOC'].str.replace("SKN", "KNA")


# merge by stripped country names and make sure Olympic Data NOC matches WorldBank country_code
df_events = pd.merge(df_events, df_worldbanknames, how="left", left_on='Oclean', right_on = 'Wclean')
df_events['NOC'] = np.where(df_events['country_code'].isnull() == False, df_events['country_code'], df_events['NOC'])

# drop unncessary columns
df_events = df_events.drop(columns = ['Oclean', 'country_code', 'country_name', 'Wclean'], axis = 1)

In [5]:
# code for cleaning countries with numbers

def hasNumbers(inputString):
     return any(char.isdigit() for char in inputString)

    
teamlist1 = df_events["Team"]

teamlist2 = []

for team in teamlist1:
    if (hasNumbers (team)):
        splitlist = team.split("-")[0]
        teamlist2.append(splitlist)
    else:
        teamlist2.append(team)

df_events["Team"] = teamlist2
df_events = df_events[df_events["Year"] >= 1960]
# df_events_trial["Team"].unique()

In [6]:
# df_olympians

In [7]:
# df_events

In [8]:
# df_gdp.head()

In [9]:
# df_pop.head()

In [10]:
# df_olympians

## DEBUG STARTS HERE

In [11]:
### DEBUG TO DISCUSS WITH TEAM ###

# Check for items that are not merged
checkmerge = pd.merge(df_events, df_worldbanknames, how="left", left_on='NOC', right_on = 'country_code')
unmatched = checkmerge[checkmerge['country_code'].isnull()]
# mergesuccess = checkmerge[checkmerge['country_code'].isnull() == False]

checking = unmatched
checking['Year'] = checking['Year'].astype('int')
checking = checking.sort_values("Year", ascending = False)

clearingbydate = checking

# We need to decide how to handle the following cases that are not in the World Bank Database.
# We can just keep them in the Olympics Database and note that they don't have GDP information.

# latest 2016 participants
# Taipei not recognized by WB
clearingbydate = clearingbydate[clearingbydate['NOC'].str.contains('TPE') == False]
# Individual Olympics
clearingbydate = clearingbydate[clearingbydate['NOC'].str.contains('IOA') == False]
# Palestine not in world bank
clearingbydate = clearingbydate[clearingbydate['NOC'].str.contains('PLE') == False]
# Refugee
clearingbydate = clearingbydate[clearingbydate['NOC'].str.contains('ROT') == False]
# Cook Islands
clearingbydate = clearingbydate[clearingbydate['NOC'].str.contains('COK') == False]

# latest 2008 participants
# Netherlands Antilles
clearingbydate = clearingbydate[clearingbydate['NOC'].str.contains('AHO') == False]
# Not sure if this is Portugal
clearingbydate = clearingbydate[clearingbydate['NOC'].str.contains('POR') == False]

# Latest 2006 Participants
# Serbia and Montenegro
clearingbydate = clearingbydate[clearingbydate['NOC'].str.contains('SCG') == False]

# Latest 1992 Participants
# bunch of soviet countries that don't exist anymore
clearingbydate = clearingbydate[clearingbydate['NOC'].str.contains('TCH') == False]
clearingbydate = clearingbydate[clearingbydate['NOC'].str.contains('EUN') == False]
clearingbydate = clearingbydate[clearingbydate['NOC'].str.contains('YUG') == False]

# Latest 1988 Participants
# West and East Germany, Soviet Union
clearingbydate = clearingbydate[clearingbydate['NOC'].str.contains('FRG') == False]
clearingbydate = clearingbydate[clearingbydate['NOC'].str.contains('GDR') == False]
clearingbydate = clearingbydate[clearingbydate['NOC'].str.contains('URS') == False]
# the two yemens
clearingbydate = clearingbydate[clearingbydate['NOC'].str.contains('YMD') == False]
clearingbydate = clearingbydate[clearingbydate['NOC'].str.contains('YAR') == False]

# latest 1964
clearingbydate = clearingbydate[clearingbydate['NOC'].str.contains('CAM') == False]
clearingbydate = clearingbydate[clearingbydate['NOC'].str.contains('BER') == False]
clearingbydate = clearingbydate[clearingbydate['NOC'].str.contains('ZIM') == False]
clearingbydate = clearingbydate[clearingbydate['NOC'].str.contains('PHI') == False]

# clearingbydate

In [12]:
checking = df_events
checking['Year'] = checking['Year'].astype('int')
checking = checking.sort_values("Year")
# checking[checking['Team'] == "Bohemia"]
# checking[checking['NOC'] == "URS"]
# checking

In [13]:
# unmatched, but before 1960
unmatched_valuecounts = clearingbydate['NOC'].value_counts().rename_axis('unique_values').reset_index(name='counts')
# unmatched_valuecounts

In [14]:
# For Spot Checking Data Integrity

### Need to figure out how to get the summary by event

medals = df_events.loc[df_events['Games'] == '2014 Winter'] 
medals = medals.loc[df_events['Medal'] == 'Gold'] 

# this counts the number of Gold Medals that Individuals Received 
medals_gb = medals.groupby(['NOC'])["Medal"].count().rename_axis('country_code').reset_index(name='medal_count')
# medals_gb.sort_values("medal_count", ascending = False)

In [15]:
# Disregard

# # cleaning olympians
# df_olympians1 = df_events.groupby(['NOC', 'Team', 'Year', 'Season', 'Games', 'ID'])["Name"].count().reset_index(name = 'num_events')
# # df_olympians1.sort_values("num_events", ascending=False).head(20)

# df_olympians2 = df_olympians1.groupby(['NOC', 'Team', 'Year', 'Season', 'Games'])["ID"].count().reset_index(name = 'num_olympians')
# # df_olympians2.sort_values("num_olympians", ascending=False).head()


# # cleaning medalists
# df_medalist1 = df_events.groupby(['NOC', 'Team', 'Year', 'Season', 'Games', 'ID'])["Medal"].count().reset_index(name = 'num_medals')
# df_medalist1 = df_medalist1[df_medalist1['num_medals'] > 0]
# # df_medalist1.sort_values("num_medals", ascending=False).head()

# df_medalist2 = df_medalist1.groupby(['NOC', 'Team', 'Year', 'Season', 'Games'])["ID"].count().reset_index(name = 'num_medalist')
# # df_medalist2.sort_values("num_medalist", ascending=False).head()

# # merging the two
# df_medalist3 = df_medalist2[["Team", "Games", "num_medalist"]]
# df_olympians = pd.merge(df_olympians2, df_medalist3, how="outer", on=['Team', 'Games'])
# df_olympians["perc_medalist"] = df_olympians["num_medalist"]/df_olympians["num_olympians"]

# ### Need to keep the medal types for it to be filterable...

# # # creating a json file.. doesn't work
# # df_olympians.pivot_table(["num_olympians", "num_medalist", "perc_medalist"], ["Team"], ["Games"]).reset_index()
# # # .to_json('HYLab/olympiandata.json', orient='records')

# # df_olympians.to_csv('HYLab/olympiandata.csv')

## Diana's code

In [16]:
df_events_new = df_events.loc[df_events['Year'] >= 1960]

In [17]:
df_events_new.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [18]:
class Events(Base):
    __tablename__ = 'events'
    ID = Column(Integer, primary_key=True)
    Name = Column(String(255))
    Sex = Column(String(255))
    Age = Column(Integer)
    Height = Column(Integer)
    Weight = Column(Integer)
    Team = Column(String(255))
    NOC = Column(String(255), primary_key=True)
    Games = Column(String(255))
    Year = Column(Integer, primary_key=True)
    Season = Column(String(255))
    City = Column(String(255))
    Sport = Column(String(255))
    Event = Column(String(255), primary_key=True)
    Medal = Column(String(255))

In [19]:
class Olympians_Team_Final(Base):
    __tablename__ = 'olympians_team_final'
    Year = Column(Integer, primary_key=True)
    Season = Column(String(255), primary_key=True)
    Team = Column(String(255), primary_key=True)
    NOC = Column(String(255), primary_key=True)
    No_olympians = Column(Integer)

In [20]:
class Medals_Team_Total(Base):
    __tablename__ = 'medals_team_total'
    Year = Column(Integer, primary_key=True)
    Season = Column(String(255), primary_key=True)
    Team = Column(String(255), primary_key=True)
    NOC = Column(String(255), primary_key=True)
    No_medal = Column(Integer)
    Bronze = Column(Integer)
    Gold = Column(Integer)
    Silver = Column(Integer)
    Total_Medals = Column(Integer)

In [21]:
# Create engine connection and export the gg_movie_final dataframe to sql\n",
disk_engine = create_engine('sqlite:///olympic_events.sqlite')

In [22]:
Base.metadata.create_all(disk_engine)

In [23]:
df_events_new.to_sql('events', disk_engine, if_exists='append', index = False)

In [24]:
session = Session(disk_engine)
conn = disk_engine.connect()

In [25]:
# To check the tables that are in our sqlite db
table = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", conn)
print(table)

# To check the columns in the tables
conn = sqlite3.connect("olympic_events.sqlite")
cursor = conn.execute('select * from olympians_team_final')
cursor.description

                   name
0                events
1  olympians_team_final
2     medals_team_total

(('Year', None, None, None, None, None, None),
 ('Season', None, None, None, None, None, None),
 ('Team', None, None, None, None, None, None),
 ('NOC', None, None, None, None, None, None),
 ('No_olympians', None, None, None, None, None, None))

<h4> Proposal:
    There are different country names (eg. United States 1 and United States 2). I will only use NOC for the base tables and from that point on we can map it with another table

<h2> Olympians over time

In [36]:
test1 = session.query(Events.Year, Events.Season, Events.Name, Events.Team, Events.NOC).\
    group_by(Events.Year, Events.Season, Events.Name, Events.Team, Events.NOC).all()

In [27]:
# Intermediate table
olympians_team_detail = pd.read_sql_query('SELECT year, season, name, team, NOC FROM events \
GROUP BY year, season, name, team, NOC',disk_engine)
olympians_team_detail

,Year,Season,Name,Team,NOC
0,1960,Summer,A. Abdul Razzak,Iraq,IRQ
1,1960,Summer,"A. W. Nancy ""Nan"" Rae",Great Britain,GBR
2,1960,Summer,Aage Birch,Chok,DNK
3,1960,Summer,"Aartje Johanna ""Atie"" Voorbij (-Dorresteijn)",Netherlands,NLD
4,1960,Summer,Abbas Khamis,United Arab Republic,UAR
...,...,...,...,...,...
147893,2016,Summer,va Csernoviczki,Hungary,HUN
147894,2016,Summer,va Risztov,Hungary,HUN
147895,2016,Summer,zge Bayrak,Turkey,TUR
147896,2016,Summer,zlem Kaya,Turkey,TUR
147897,2016,Summer,zzet Safer,Turkey,TUR

In [28]:
# Final table with number of athletes per Event (Year&Season)
olympians_team = olympians_team_detail.groupby(['Year','Season', 'Team', 'NOC']).count()
olympians_team.reset_index(inplace = True)
olympians_team_final = olympians_team.rename(columns = {"Name": "No_olympians"})

In [29]:
# Export to sqlite
olympians_team_final.to_sql('olympians_team_final', disk_engine, if_exists='append', index = False)

In [30]:
# Giving an error - I need to fix it
test2 = session.query(Olympians_Team_Final.Year, Olympians_Team_Final.Season,\
                        Olympians_Team_Final.Team, Olympians_Team_Final.NOC, Olympians_Team_Final.No_olympians).all()

test2

[(1960, 'Summer', 'Afghanistan', 'AFG', 12),
 (1960, 'Summer', 'Aldebaran II', 'ITA', 2),
 (1960, 'Summer', 'Aletta', 'IRL', 3),
 (1960, 'Summer', 'Ali-Baba VI', 'CHE', 2),
 (1960, 'Summer', 'Ardilla', 'ARG', 3),
 (1960, 'Summer', 'Argentina', 'ARG', 84),
 (1960, 'Summer', 'Argo II', 'CAN', 3),
 (1960, 'Summer', 'Astrid III', 'FRA', 3),
 (1960, 'Summer', 'Australia', 'AUS', 179),
 (1960, 'Summer', 'Austria', 'AUT', 96),
 (1960, 'Summer', 'Baccara', 'CHE', 3),
 (1960, 'Summer', 'Bahamas', 'BHS', 3),
 (1960, 'Summer', 'Bajazzo', 'URU', 3),
 (1960, 'Summer', 'Balaton', 'HUN', 2),
 (1960, 'Summer', 'Ballerina IV', 'CHE', 3),
 (1960, 'Summer', 'Beaver', 'GBR', 2),
 (1960, 'Summer', 'Belgium', 'BEL', 99),
 (1960, 'Summer', 'Bella', 'FIN', 2),
 (1960, 'Summer', 'Bellatrix IX', 'DEU', 3),
 (1960, 'Summer', 'Bermuda', 'BMU', 1),
 (1960, 'Summer', 'Bermudes', 'BER', 3),
 (1960, 'Summer', 'Bermudian', 'BER', 2),
 (1960, 'Summer', 'Bim', 'BHS', 3),
 (1960, 'Summer', 'Boreas', 'JPN', 3),
 (1960, 'Summer', 'Brazil', 'BRA', 68),
 (1960, 'Summer', 'Bronia', 'DEU', 3),
 (1960, 'Summer', 'Bulgaria', 'BGR', 98),
 (1960, 'Summer', 'Buraddoo', 'AUS', 3),
 (1960, 'Summer', 'Calcinhas', 'POR', 2),
 (1960, 'Summer', 'Calypse II', 'FRA', 2),
 (1960, 'Summer', 'Canada', 'CAN', 75),
 (1960, 'Summer', 'Canopus', 'ESP', 3),
 (1960, 'Summer', 'Cha-Cha III', 'YUG', 2),
 (1960, 'Summer', 'Chamukina', 'MEX', 2),
 (1960, 'Summer', 'Chile', 'CHL', 9),
 (1960, 'Summer', 'Chinese Taipei', 'TPE', 27),
 (1960, 'Summer', 'Chok', 'DNK', 3),
 (1960, 'Summer', 'Ciocca III', 'POR', 3),
 (1960, 'Summer', 'Circus', 'WIF', 2),
 (1960, 'Summer', 'Colombia', 'COL', 16),
 (1960, 'Summer', 'Combine', 'BHS', 2),
 (1960, 'Summer', 'Cuba', 'CUB', 10),
 (1960, 'Summer', 'Czechoslovakia', 'TCH', 116),
 (1960, 'Summer', 'Daisy', 'NLD', 3),
 (1960, 'Summer', 'Damoiselle IV', 'MCO', 3),
 (1960, 'Summer', 'Danaldo', 'JPN', 2),
 (1960, 'Summer', 'Denmark', 'DNK', 92),
 (1960, 'Summer', 'Dinah V', 'DEU', 3),
 (1960, 'Summer', 'Espuma del Mar', 'VEN', 2),
 (1960, 'Summer', 'Ethiopia', 'ETH', 10),
 (1960, 'Summer', 'Evita VI', 'AUT', 2),
 (1960, 'Summer', 'Falcon VI', 'AUS', 2),
 (1960, 'Summer', 'Fantasio III', 'CHE', 2),
 (1960, 'Summer', 'Fiji', 'FJI', 2),
 (1960, 'Summer', 'Finland', 'FIN', 109),
 (1960, 'Summer', 'France', 'FRA', 228),
 (1960, 'Summer', 'Frip IV', 'FRA', 2),
 (1960, 'Summer', 'Gabbiano', 'AUS', 3),
 (1960, 'Summer', 'Galejan', 'SWE', 3),
 (1960, 'Summer', 'Gem VII', 'BHS', 2),
 (1960, 'Summer', 'Germany', 'DEU', 281),
 (1960, 'Summer', 'Ghana', 'GHA', 13),
 (1960, 'Summer', 'Great Britain', 'GBR', 243),
 (1960, 'Summer', 'Greece', 'GRC', 41),
 (1960, 'Summer', 'Grifo III', 'POR', 3),
 (1960, 'Summer', 'Guyana', 'GUY', 5),
 (1960, 'Summer', 'Haiti', 'HTI', 1),
 (1960, 'Summer', 'Hakahana', 'RSA', 2),
 (1960, 'Summer', 'Harmony', 'NZL', 2),
 (1960, 'Summer', 'Hong Kong', 'HKG', 4),
 (1960, 'Summer', 'Hungary', 'HUN', 179),
 (1960, 'Summer', 'Iceland', 'ISL', 9),
 (1960, 'Summer', 'India', 'IND', 45),
 (1960, 'Summer', 'Indonesia', 'IDN', 17),
 (1960, 'Summer', 'Inga-Lill XXXXIII', 'FIN', 3),
 (1960, 'Summer', 'Iran', 'IRN', 23),
 (1960, 'Summer', 'Iraq', 'IRQ', 21),
 (1960, 'Summer', 'Ireland', 'IRL', 44),
 (1960, 'Summer', 'Israel', 'ISR', 23),
 (1960, 'Summer', 'Italy', 'ITA', 270),
 (1960, 'Summer', 'Japan', 'JPN', 156),
 (1960, 'Summer', 'John B', 'BHS', 3),
 (1960, 'Summer', 'June Climene', 'SGP', 3),
 (1960, 'Summer', 'Kenya', 'KEN', 27),
 (1960, 'Summer', 'Lasha', 'SWE', 3),
 (1960, 'Summer', 'Lebanon', 'LBN', 17),
 (1960, 'Summer', 'Lett', 'NOR', 3),
 (1960, 'Summer', 'Liberia', 'LBR', 4),
 (1960, 'Summer', 'Liechtenstein', 'LIE', 5),
 (1960, 'Summer', 'Luxembourg', 'LUX', 52),
 (1960, 'Summer', "Ma'Lindo", 'POR', 2),
 (1960, 'Summer', 'Macky VI', 'DEU', 3),
 (1960, 'Summer', 'Mad Dog', 'CAN', 2),
 (1960, 'Summer', 'Maid of Lebanon', 'LIB', 2),
 (1960, 'Summer', 'Malaya', 'MAL', 9),
 (1960, 'Summer', 'Malta', 'MLT', 8),
 (1960, 'Summer', 'Mari', 'SWE', 2),
 (1960, 'Summer', 'May', 'AUT', 2),
 (1960, 'Summer', 'Merope', 'MLT', 2),
 (1960, 'Summer', 'Merope III', 'ITA', 2),
 (1960, 'Summer', 'Meteor', 'BEL', 2),
 (1960, 'Summer', 'Mexico', 'MEX', 67),
 (1960, 'Summer', 'Minotaur', 'USA', 3),
 (1960, 'Summer', 'Mizar', 'ARG', 2),
 (1960, 'Summer', 'Monaco', 'MCO', 8),
 (1960, 'Summer', 'Morocco', 'MAR', 47),
 (1960, 'Summer', 'Myanmar', 'MMR', 8),
 (1960, 'Summer', 'Netherlands', 'NLD', 104),
 (1960, 'Summer', 'Netherlands Antilles', 'AHO', 5),
 (1960, 'Summer', 'New Zealand', 'NZL', 35),
 (1960, 'Summer', 'Nigeria', 'NGA', 12),
 (1960, 'Summer', 'Nirefs', 'GRC', 3),
 (1960, 'Summer', 'Nokaut II', 'URS', 2),
 (1960, 'Summer', 'Norway', 'NOR', 32),
 (1960, 'Summer', 'Oleander II', 'BER', 3),
 (1960, 'Summer', 'Olimpia', 'HUN', 2),
 (1960, 'Summer', 'Olympion', 'GRC', 2),
 (1960, 'Summer', 'Pakaria', 'AUS', 2),
 (1960, 'Summer', 'Pakistan', 'PAK', 43),
 (1960, 'Summer', 'Panama', 'PAN', 6),
 (1960, 'Summer', 'Partenope', 'IDN', 3),
 (1960, 'Summer', 'Pasodoble', 'ESP', 2),
 (1960, 'Summer', 'Patricia', 'PHI', 3),
 (1960, 'Summer', 'Peri', 'RHO', 2),
 (1960, 'Summer', 'Persey', 'URS', 3),
 (1960, 'Summer', 'Peru', 'PER', 31),
 (1960, 'Summer', 'Philippines', 'PHL', 37),
 (1960, 'Summer', 'Pimm', 'BRA', 2),
 (1960, 'Summer', 'Poland', 'POL', 185),
 (1960, 'Summer', 'Portugal', 'PRT', 55),
 (1960, 'Summer', 'Posillipo III', 'ESP', 3),
 (1960, 'Summer', 'Puerto Rico', 'PRI', 27),
 (1960, 'Summer', 'Rhodesia', 'RHO', 8),
 (1960, 'Summer', 'Rififi', 'FIN', 3),
 (1960, 'Summer', 'Romania', 'ROU', 98),
 (1960, 'Summer', 'SagaII', 'CAN', 3),
 (1960, 'Summer', 'Salamander', 'GBR', 3),
 (1960, 'Summer', 'San Marino', 'SMR', 9),
 (1960, 'Summer', 'Scram', 'CAN', 2),
 (1960, 'Summer', 'Shrew II', 'USA', 2),
 (1960, 'Summer', 'Siames-Cat', 'THA', 2),
 (1960, 'Summer', 'Singapore', 'SGP', 2),
 (1960, 'Summer', 'Sirene', 'NOR', 2),
 (1960, 'Summer', 'Sjovinge', 'SWE', 2),
 (1960, 'Summer', 'Skum', 'DNK', 2),
 (1960, 'Summer', 'Snowten III', 'FRA', 3),
 (1960, 'Summer', 'South Africa', 'ZAF', 53),
 (1960, 'Summer', 'South Korea', 'KOR', 35),
 (1960, 'Summer', 'South Vietnam', 'VNM', 3),
 (1960, 'Summer', 'Soviet Union', 'URS', 273),
 (1960, 'Summer', 'Spain', 'ESP', 134),
 (1960, 'Summer', 'Spirit VI', 'USA', 3),
 (1960, 'Summer', 'Sri Lanka', 'LKA', 5),
 (1960, 'Summer', 'Struten', 'NOR', 3),
 (1960, 'Summer', 'Sudan', 'SDN', 10),
 (1960, 'Summer', 'Surprise', 'AUT', 3),
 (1960, 'Summer', 'Sweden', 'SWE', 124),
 (1960, 'Summer', 'Switzerland', 'CHE', 139),
 (1960, 'Summer', 'Tajamar', 'ESP', 2),
 (1960, 'Summer', 'Tango', 'ARG', 3),
 (1960, 'Summer', 'Tengiri', 'IDN', 2),
 (1960, 'Summer', 'Terrible', 'BRA', 2),
 (1960, 'Summer', 'Thailand', 'THA', 18),
 (1960, 'Summer', 'Three Leaves', 'IRL', 2),
 (1960, 'Summer', 'Tornado', 'URS', 2),
 (1960, 'Summer', 'Trintel II', 'NLD', 3),
 (1960, 'Summer', 'Tunisia', 'TUN', 42),
 (1960, 'Summer', 'Turkey', 'TUR', 49),
 (1960, 'Summer', 'Twinkle', 'GBR', 2),
 (1960, 'Summer', 'Uganda', 'UGA', 10),
 (1960, 'Summer', 'United Arab Republic', 'UAR', 74),
 (1960, 'Summer', 'United States', 'USA', 282),
 (1960, 'Summer', 'Uruguay', 'URY', 31),
 (1960, 'Summer', 'Venezuela', 'VEN', 34),
 (1960, 'Summer', 'Venilia', 'ITA', 3),
 (1960, 'Summer', 'Vesania', 'CUB', 2),
 (1960, 'Summer', 'Viktoriya', 'URS', 3),
 (1960, 'Summer', 'Vim III', 'USA', 2),
 (1960, 'Summer', 'Voloira II', 'ITA', 3),
 (1960, 'Summer', 'Web II', 'DNK', 3),
 (1960, 'Summer', 'West Indies Federation', 'WIF', 11),
 (1960, 'Summer', 'Yangon', 'MYA', 2),
 (1960, 'Summer', 'Yeoman VII', 'GBR', 3),
 (1960, 'Summer', 'Yugoslavia', 'YUG', 114),
 (1960, 'Summer', 'Zefyros', 'GRC', 2),
 (1960, 'Summer', 'Zimbabwe', 'ZWE', 4),
 (1960, 'Winter', 'Argentina', 'ARG', 6),
 (1960, 'Winter', 'Australia', 'AUS', 30),
 (1960, 'Winter', 'Austria', 'AUT', 26),
 (1960, 'Winter', 'Bulgaria', 'BGR', 7),
 (1960, 'Winter', 'Canada', 'CAN', 44),
 (1960, 'Winter', 'Chile', 'CHL', 5),
 (1960, 'Winter', 'Czechoslovakia', 'TCH', 21),
 (1960, 'Winter', 'Denmark', 'DNK', 1),
 (1960, 'Winter', 'Finland', 'FIN', 48),
 (1960, 'Winter', 'France', 'FRA', 26),
 (1960, 'Winter', 'Germany', 'DEU', 74),
 (1960, 'Winter', 'Great Britain', 'GBR', 17),
 (1960, 'Winter', 'Hungary', 'HUN', 3),
 (1960, 'Winter', 'Iceland', 'ISL', 4),
 (1960, 'Winter', 'Italy', 'ITA', 28),
 (1960, 'Winter', 'Japan', 'JPN', 41),
 (1960, 'Winter', 'Lebanon', 'LBN', 2),
 (1960, 'Winter', 'Liechtenstein', 'LIE', 3),
 (1960, 'Winter', 'Netherlands', 'NLD', 7),
 (1960, 'Winter', 'New Zealand', 'NZL', 4),
 (1960, 'Winter', 'Norway', 'NOR', 29),
 (1960, 'Winter', 'Poland', 'POL', 13),
 (1960, 'Winter', 'South Africa', 'ZAF', 4),
 (1960, 'Winter', 'South Korea', 'KOR', 7),
 (1960, 'Winter', 'Soviet Union', 'URS', 62),
 (1960, 'Winter', 'Spain', 'ESP', 4),
 (1960, 'Winter', 'Sweden', 'SWE', 47),
 (1960, 'Winter', 'Switzerland', 'CHE', 21),
 (1960, 'Winter', 'Turkey', 'TUR', 2),
 (1960, 'Winter', 'United States', 'USA', 79),
 (1964, 'Summer', 'Acipactli', 'MEX', 3),
 (1964, 'Summer', 'Afghanistan', 'AFG', 8),
 (1964, 'Summer', 'Akatonbo', 'IRL', 3),
 (1964, 'Summer', 'Alain IV', 'CHE', 3),
 (1964, 'Summer', 'Aldebaran', 'ITA', 2),
 (1964, 'Summer', 'Algeria', 'DZA', 1),
 (1964, 'Summer', 'Ali-Baba IX', 'CHE', 2),
 (1964, 'Summer', 'Almaz', 'URS', 2),
 (1964, 'Summer', 'Andromeda', 'GBR', 3),
 (1964, 'Summer', 'Aphrodite', 'USA', 3),
 (1964, 'Summer', 'Argentina', 'ARG', 97),
 (1964, 'Summer', 'Argeste', 'ITA', 3),
 (1964, 'Summer', 'Australia', 'AUS', 233),
 (1964, 'Summer', 'Austria', 'AUT', 54),
 (1964, 'Summer', 'Bahamas', 'BHS', 3),
 (1964, 'Summer', 'Barco Deloro', 'NLD', 4),
 (1964, 'Summer', 'Barrenjoey', 'AUS', 3),
 (1964, 'Summer', 'Belgium', 'BEL', 61),
 (1964, 'Summer', 'Bellatrix XIII', 'DEU', 2),
 (1964, 'Summer', 'Bermuda', 'BMU', 1),
 (1964, 'Summer', 'Bingo', 'USA', 3),
 (1964, 'Summer', 'Bolivia', 'BOL', 1),
 (1964, 'Summer', 'Brazil', 'BRA', 57),
 (1964, 'Summer', 'Brigantia', 'AUT', 2),
 (1964, 'Summer', 'Bulgaria', 'BGR', 63),
 (1964, 'Summer', 'Cambodia', 'KHM', 11),
 (1964, 'Summer', 'Cambria', 'AUS', 3),
 (1964, 'Summer', 'Cameroon', 'CMR', 1),
 (1964, 'Summer', 'Canada', 'CAN', 105),
 (1964, 'Summer', 'Chad', 'TCD', 2),
 (1964, 'Summer', 'Chaje II', 'FIN', 3),
 (1964, 'Summer', 'Chile', 'CHL', 14),
 (1964, 'Summer', 'Chinese Taipei', 'TPE', 40),
 (1964, 'Summer', 'Clementine V', 'BRA', 2),
 (1964, 'Summer', 'Colombia', 'COL', 20),
 (1964, 'Summer', 'Congo (Brazzaville)', 'COG', 2),
 (1964, 'Summer', 'Costa Rica', 'CRI', 2),
 (1964, 'Summer', "Cote d'Ivoire", 'CIV', 9),
 (1964, 'Summer', 'Cuba', 'CUB', 27),
 (1964, 'Summer', 'Czechoslovakia', 'TCH', 104),
 (1964, 'Summer', 'Daisy', 'NLD', 2),
 (1964, 'Summer', 'Denmark', 'DNK', 52),
 (1964, 'Summer', 'Diablo', 'AUS', 2),
 (1964, 'Summer', 'Dominican Republic', 'DOM', 1),
 (1964, 'Summer', 'Druzhba', 'URS', 3),
 (1964, 'Summer', 'Egypt', 'EGY', 73),
 (1964, 'Summer', 'Espuma del Mar', 'VEN', 2),
 (1964, 'Summer', 'Ethiopia', 'ETH', 12),
 (1964, 'Summer', 'Faneca', 'POR', 2),
 (1964, 'Summer', 'Finland', 'FIN', 84),
 (1964, 'Summer', 'Firebird II', 'TTO', 2),
 (1964, 'Summer', 'Fram III', 'NOR', 3),
 (1964, 'Summer', 'France', 'FRA', 136),
 (1964, 'Summer', 'Gem', 'BHS', 2),
 (1964, 'Summer', 'Germany', 'DEU', 326),
 (1964, 'Summer', 'Ghana', 'GHA', 33),
 (1964, 'Summer', 'Glider', 'USA', 2),
 (1964, 'Summer', 'Glisten', 'CAN', 2),
 (1964, 'Summer', 'Great Britain', 'GBR', 196),
 (1964, 'Summer', 'Greece', 'GRC', 15),
 (1964, 'Summer', 'Grifo IV', 'POR', 3),
 (1964, 'Summer', 'Grifone', 'ITA', 3),
 (1964, 'Summer', 'Guanahani', 'BHS', 3),
 (1964, 'Summer', 'Guyana', 'GUY', 1),
 (1964, 'Summer', 'GyoshuII', 'CAM', 2),
 (1964, 'Summer', 'Hayama', 'SWE', 2),
 (1964, 'Summer', 'Hong Kong', 'HKG', 36),
 (1964, 'Summer', 'Humbug V', 'SWE', 2),
 (1964, 'Summer', 'Hungary', 'HUN', 182),
 (1964, 'Summer', 'Iceland', 'ISL', 4),
 (1964, 'Summer', 'India', 'IND', 52),
 (1964, 'Summer', 'Iran', 'IRN', 62),
 (1964, 'Summer', 'Iraq', 'IRQ', 13),
 (1964, 'Summer', 'Ireland', 'IRL', 22),
 (1964, 'Summer', 'Israel', 'ISR', 10),
 (1964, 'Summer', 'Italy', 'ITA', 157),
 (1964, 'Summer', 'Jamaica', 'JAM', 18),
 (1964, 'Summer', 'Japan', 'JPN', 318),
 (1964, 'Summer', 'John B', 'BHS', 3),
 (1964, 'Summer', 'Kalayaan', 'PHI', 3),
 (1964, 'Summer', 'Kenya', 'KEN', 37),
 (1964, 'Summer', 'Kuling', 'SWE', 3),
 (1964, 'Summer', 'Lady C', 'GBR', 2),
 (1964, 'Summer', 'Lebanon', 'LBN', 5),
 (1964, 'Summer', 'Liberia', 'LBR', 1),
 (1964, 'Summer', 'Liechtenstein', 'LIE', 2),
 (1964, 'Summer', 'Linglom', 'THA', 3),
 (1964, 'Summer', 'Lucky', 'NOR', 2),
 (1964, 'Summer', 'Luxembourg', 'LUX', 12),
 (1964, 'Summer', 'Madagascar', 'MDG', 3),
 (1964, 'Summer', 'Malaysia', 'MYS', 61),
 (1964, 'Summer', 'Mali', 'MLI', 2),
 (1964, 'Summer', 'Maryke', 'AUS', 2),
 (1964, 'Summer', 'Mexico', 'MEX', 84),
 (1964, 'Summer', 'Miss Denmark 1964', 'DNK', 2),
 (1964, 'Summer', 'Miss Nippon IV', 'JAM', 3),
 (1964, 'Summer', 'Miss Nippon V', 'JPN', 3),
 (1964, 'Summer', 'MitaII', 'JPN', 2),
 (1964, 'Summer', 'Monaco', 'MCO', 1),
 (1964, 'Summer', 'Mongolia', 'MNG', 21),
 (1964, 'Summer', 'Monica', 'NOR', 3),
 (1964, 'Summer', 'Morocco', 'MAR', 20),
 (1964, 'Summer', 'Mutafo', 'DEU', 3),
 (1964, 'Summer', 'Myanmar', 'MMR', 11),
 (1964, 'Summer', 'Nausikaa 4', 'MEX', 2),
 (1964, 'Summer', 'Nepal', 'NPL', 6),
 (1964, 'Summer', 'Netherlands', 'NLD', 119),
 (1964, 'Summer', 'Netherlands Antilles', 'AHO', 4),
 (1964, 'Summer', 'New Zealand', 'NZL', 62),
 (1964, 'Summer', 'Niger', 'NER', 1),
 (1964, 'Summer', 'Nigeria', 'NGA', 18),
 (1964, 'Summer', 'Norway', 'NOR', 18),
 (1964, 'Summer', 'Oleander XII', 'BER', 3),
 (1964, 'Summer', 'Olen', 'URS', 3),
 (1964, 'Summer', 'Pakistan', 'PAK', 41),
 (1964, 'Summer', 'Panama', 'PAN', 10),
 (1964, 'Summer', 'Pandora', 'NZL', 2),
 (1964, 'Summer', 'Peri II', 'ZIM', 2),
 (1964, 'Summer', 'Peru', 'PER', 31),
 (1964, 'Summer', 'Philippines', 'PHL', 44),
 (1964, 'Summer', 'Phoenix', 'HKG', 3),
 (1964, 'Summer', 'Pigoule', 'FRA', 2),
 (1964, 'Summer', 'Poland', 'POL', 140),
 (1964, 'Summer', 'Portugal', 'PRT', 15),
 (1964, 'Summer', 'Pousse-Moi Pas VII', 'CHE', 2),
 (1964, 'Summer', 'Proteus II', 'GRC', 3),
 (1964, 'Summer', 'Puerto Rico', 'PRI', 32),
 (1964, 'Summer', 'Rampage', 'ARG', 2),
 (1964, 'Summer', 'Riccar', 'JPN', 2),
 (1964, 'Summer', 'Romania', 'ROU', 138),
 (1964, 'Summer', 'Roy', 'JPN', 3),
 (1964, 'Summer', 'Rush VII', 'SWE', 3),
 (1964, 'Summer', 'Senegal', 'SEN', 12),
 (1964, 'Summer', 'Serendipity', 'CAN', 3),
 (1964, 'Summer', 'South Korea', 'KOR', 153),
 (1964, 'Summer', 'South Vietnam', 'VNM', 16),
 (1964, 'Summer', 'Soviet Union', 'URS', 307),
 (1964, 'Summer', 'Spain', 'ESP', 51),
 (1964, 'Summer', 'Squid III', 'FIN', 2),
 (1964, 'Summer', 'Sri Lanka', 'LKA', 6),
 (1964, 'Summer', 'State VI', 'CAN', 3),
 (1964, 'Summer', 'Subbnboana', 'DEU', 4),
 (1964, 'Summer', 'Sweden', 'SWE', 84),
 (1964, 'Summer', 'Switzerland', 'CHE', 59),
 (1964, 'Summer', 'Syndi', 'CAN', 2),
 (1964, 'Summer', 'Taifun', 'URS', 2),
 (1964, 'Summer', 'Tango', 'ARG', 3),
 (1964, 'Summer', 'Tantalus', 'DEU', 2),
 (1964, 'Summer', 'Tanzania', 'TZA', 4),
 (1964, 'Summer', 'Thailand', 'THA', 51),
 (1964, 'Summer', 'Tlaloc', 'MEX', 2),
 (1964, 'Summer', 'Trinidad and Tobago', 'TTO', 11),
 (1964, 'Summer', 'Tunisia', 'TUN', 9),
 (1964, 'Summer', 'Turkey', 'TUR', 23),
 (1964, 'Summer', 'Uganda', 'UGA', 13),
 (1964, 'Summer', 'Umberta V', 'ITA', 2),
 (1964, 'Summer', 'United States', 'USA', 336),
 (1964, 'Summer', 'Uruguay', 'URY', 23),
 (1964, 'Summer', 'Venezuela', 'VEN', 14),
 (1964, 'Summer', 'Vento Sul', 'BRA', 2),
 (1964, 'Summer', 'Web III', 'DNK', 3),
 (1964, 'Summer', 'White Lady', 'DNK', 3),
 (1964, 'Summer', 'Widgeon', 'USA', 2),
 (1964, 'Summer', 'Xolotl', 'MEX', 3),
 (1964, 'Summer', 'Yeoman XII', 'GBR', 3),
 (1964, 'Summer', 'Yugoslavia', 'YUG', 75),
 (1964, 'Summer', 'Zambia', 'ZMB', 12),
 (1964, 'Summer', 'Zimbabwe', 'ZWE', 27),
 (1964, 'Winter', 'Argentina', 'ARG', 12),
 (1964, 'Winter', 'Australia', 'AUS', 5),
 (1964, 'Winter', 'Austria', 'AUT', 83),
 (1964, 'Winter', 'Belgium', 'BEL', 8),
 (1964, 'Winter', 'Bulgaria', 'BGR', 7),
 (1964, 'Winter', 'Canada', 'CAN', 55),
 (1964, 'Winter', 'Chile', 'CHL', 5),
 (1964, 'Winter', 'Czechoslovakia', 'TCH', 46),
 (1964, 'Winter', 'Denmark', 'DNK', 2),
 (1964, 'Winter', 'Finland', 'FIN', 51),
 (1964, 'Winter', 'France', 'FRA', 24),
 (1964, 'Winter', 'Germany', 'DEU', 96),
 (1964, 'Winter', 'Great Britain', 'GBR', 36),
 (1964, 'Winter', 'Greece', 'GRC', 3),
 (1964, 'Winter', 'Hungary', 'HUN', 28),
 (1964, 'Winter', 'Iceland', 'ISL', 5),
 (1964, 'Winter', 'India', 'IND', 1),
 (1964, 'Winter', 'Iran', 'IRN', 4),
 (1964, 'Winter', 'Italy', 'ITA', 61),
 (1964, 'Winter', 'Japan', 'JPN', 47),
 (1964, 'Winter', 'Lebanon', 'LBN', 4),
 (1964, 'Winter', 'Liechtenstein', 'LIE', 6),
 (1964, 'Winter', 'Mongolia', 'MNG', 13),
 (1964, 'Winter', 'Netherlands', 'NLD', 6),
 (1964, 'Winter', 'North Korea', 'PRK', 13),
 (1964, 'Winter', 'Norway', 'NOR', 58),
 (1964, 'Winter', 'Poland', 'POL', 51),
 (1964, 'Winter', 'Romania', 'ROU', 27),
 (1964, 'Winter', 'South Korea', 'KOR', 7),
 (1964, 'Winter', 'Soviet Union', 'URS', 69),
 (1964, 'Winter', 'Spain', 'ESP', 6),
 (1964, 'Winter', 'Sweden', 'SWE', 57),
 (1964, 'Winter', 'Switzerland', 'CHE', 72),
 (1964, 'Winter', 'Turkey', 'TUR', 5),
 (1964, 'Winter', 'United States', 'USA', 90),
 (1964, 'Winter', 'Yugoslavia', 'YUG', 31),
 (1968, 'Summer', 'Afghanistan', 'AFG', 5),
 (1968, 'Summer', 'Algeria', 'DZA', 3),
 (1968, 'Summer', 'Argentina', 'ARG', 89),
 (1968, 'Summer', 'Australia', 'AUS', 128),
 (1968, 'Summer', 'Austria', 'AUT', 43),
 (1968, 'Summer', 'Bahamas', 'BHS', 16),
 (1968, 'Summer', 'Barbados', 'BRB', 9),
 (1968, 'Summer', 'Belgium', 'BEL', 82),
 (1968, 'Summer', 'Belize', 'BLZ', 7),
 (1968, 'Summer', 'Bermuda', 'BMU', 6),
 (1968, 'Summer', 'Bolivia', 'BOL', 4),
 (1968, 'Summer', 'Brazil', 'BRA', 76),
 (1968, 'Summer', 'Bulgaria', 'BGR', 112),
 (1968, 'Summer', 'Cameroon', 'CMR', 5),
 (1968, 'Summer', 'Canada', 'CAN', 139),
 (1968, 'Summer', 'Central African Republic', 'CAF', 1),
 (1968, 'Summer', 'Chad', 'TCD', 3),
 (1968, 'Summer', 'Chile', 'CHL', 21),
 (1968, 'Summer', 'Chinese Taipei', 'TPE', 43),
 (1968, 'Summer', 'Colombia', 'COL', 43),
 (1968, 'Summer', 'Congo (Kinshasa)', 'COD', 5),
 (1968, 'Summer', 'Costa Rica', 'CRI', 18),
 (1968, 'Summer', "Cote d'Ivoire", 'CIV', 10),
 (1968, 'Summer', 'Cuba', 'CUB', 115),
 (1968, 'Summer', 'Czechoslovakia', 'TCH', 121),
 (1968, 'Summer', 'Denmark', 'DNK', 64),
 (1968, 'Summer', 'Dominican Republic', 'DOM', 18),
 (1968, 'Summer', 'East Germany', 'GDR', 225),
 (1968, 'Summer', 'Ecuador', 'ECU', 15),
 (1968, 'Summer', 'Egypt', 'EGY', 30),
 (1968, 'Summer', 'El Salvador', 'SLV', 60),
 (1968, 'Summer', 'Ethiopia', 'ETH', 18),
 (1968, 'Summer', 'Fiji', 'FJI', 1),
 (1968, 'Summer', 'Finland', 'FIN', 66),
 (1968, 'Summer', 'France', 'FRA', 200),
 (1968, 'Summer', 'Ghana', 'GHA', 31),
 (1968, 'Summer', 'Great Britain', 'GBR', 225),
 (1968, 'Summer', 'Greece', 'GRC', 44),
 (1968, 'Summer', 'Guatemala', 'GTM', 48),
 (1968, 'Summer', 'Guinea', 'GIN', 15),
 (1968, 'Summer', 'Guyana', 'GUY', 5),
 (1968, 'Summer', 'Honduras', 'HND', 6),
 (1968, 'Summer', 'Hong Kong', 'HKG', 11),
 (1968, 'Summer', 'Hungary', 'HUN', 166),
 (1968, 'Summer', 'Iceland', 'ISL', 8),
 (1968, 'Summer', 'India', 'IND', 23),
 (1968, 'Summer', 'Indonesia', 'IDN', 6),
 (1968, 'Summer', 'Iran', 'IRN', 14),
 (1968, 'Summer', 'Iraq', 'IRQ', 3),
 (1968, 'Summer', 'Ireland', 'IRL', 31),
 (1968, 'Summer', 'Israel', 'ISR', 29),
 (1968, 'Summer', 'Italy', 'ITA', 167),
 (1968, 'Summer', 'Jamaica', 'JAM', 25),
 (1968, 'Summer', 'Japan', 'JPN', 171),
 (1968, 'Summer', 'Kenya', 'KEN', 39),
 (1968, 'Summer', 'Kuwait', 'KWT', 2),
 (1968, 'Summer', 'Lebanon', 'LBN', 11),
 (1968, 'Summer', 'Libya', 'LBY', 1),
 (1968, 'Summer', 'Liechtenstein', 'LIE', 2),
 (1968, 'Summer', 'Luxembourg', 'LUX', 5),

<h2> Medals by country / Total Medal count over time / Participating events over time

In [31]:
# Intermediate table 1
medals_team_detail = pd.read_sql_query('SELECT year, season, sport, event, sex, medal, team, NOC FROM events \
GROUP BY year, season, sport, event, sex, medal, team, NOC',disk_engine)
medals_team_detail["Medal"].fillna("No_medal", inplace = True)

In [32]:
# Intermediate table 2 - may be used for visualizations
medals_team = medals_team_detail.groupby(['Year','Season','Team', 'NOC', 'Medal']).count()[['Sport']]
medals_team.reset_index(inplace = True)
medals_team.rename(columns = {"Sport": "#Medals"}, inplace = True)
medals_team.sort_values(by=["#Medals"], ascending=False)
medals_team.loc[medals_team['Year'] == 1984].sort_values(by=['Year',''"#Medals"], ascending=[True, False])

      Year  Season           Team  NOC     Medal  #Medals
1813  1984  Summer  Great Britain  GBR  No_medal      178
1768  1984  Summer         Canada  CAN  No_medal      164
1961  1984  Summer   West Germany  FRG  No_medal      159
1953  1984  Summer  United States  USA  No_medal      138
1835  1984  Summer          Italy  ITA  No_medal      133
...    ...     ...            ...  ...       ...      ...
2027  1984  Winter    Puerto Rico  PRI  No_medal        1
2041  1984  Winter    Switzerland  CHE    Bronze        1
2049  1984  Winter   West Germany  FRG    Bronze        1
2052  1984  Winter   West Germany  FRG    Silver        1
2054  1984  Winter     Yugoslavia  YUG    Silver        1

[323 rows x 6 columns]

In [33]:
# Summary table with all the participant countries. Total Medals is sum of G,S&B
# If you need a list of medals, check the previous table
medals_team_total = medals_team.pivot_table(index=['Year','Season','Team','NOC'], values = '#Medals', columns='Medal', aggfunc='sum')
medals_team_total.reset_index(inplace = True)
medals_team_total.replace(np.nan,0, inplace = True)
medals_team_total["Total_Medals"] = medals_team_total["Bronze"] + medals_team_total["Gold"] + medals_team_total["Silver"]
medals_team_total.sort_values(by=['Year','Season', 'Total_Medals'], ascending=[True, True, False], inplace = True)
medals_team_total.loc[medals_team_total['Year'] == 1960]

Medal,Year,Season,Team,NOC,Bronze,Gold,No_medal,Silver,Total_Medals
149,1960,Summer,Soviet Union,URS,31.0,42.0,96.0,29.0,102.0
171,1960,Summer,United States,USA,15.0,33.0,111.0,21.0,69.0
60,1960,Summer,Germany,DEU,10.0,12.0,120.0,19.0,41.0
79,1960,Summer,Italy,ITA,12.0,13.0,109.0,10.0,35.0
8,1960,Summer,Australia,AUS,6.0,8.0,108.0,8.0,22.0
...,...,...,...,...,...,...,...,...,...
205,1960,Winter,New Zealand,NZL,0.0,0.0,6.0,0.0,0.0
208,1960,Winter,South Africa,ZAF,0.0,0.0,3.0,0.0,0.0
209,1960,Winter,South Korea,KOR,0.0,0.0,13.0,0.0,0.0
211,1960,Winter,Spain,ESP,0.0,0.0,6.0,0.0,0.0
214,1960,Winter,Turkey,TUR,0.0,0.0,3.0,0.0,0.0

In [34]:
# Export to sqlite
medals_team_total.to_sql('medals_team_total', disk_engine, if_exists='append', index = False)

In [37]:
# Giving an error - I need to fix it
test3 = session.query(Medals_Team_Total.Year, Medals_Team_Total.Season, Medals_Team_Total.Team, \
                      Medals_Team_Total.NOC, Medals_Team_Total.Bronze, Medals_Team_Total.Silver, \
                      Medals_Team_Total.Gold, Medals_Team_Total.Total_Medals).\
                    filter(Medals_Team_Total.NOC == 'USA').all()

test3

[(1960, 'Summer', 'United States', 'USA', 15, 21, 33, 69),
 (1960, 'Summer', 'Minotaur', 'USA', 0, 0, 1, 1),
 (1960, 'Summer', 'Shrew II', 'USA', 1, 0, 0, 1),
 (1960, 'Summer', 'Spirit VI', 'USA', 0, 0, 0, 0),
 (1960, 'Summer', 'Vim III', 'USA', 0, 0, 0, 0),
 (1960, 'Winter', 'United States', 'USA', 4, 4, 3, 11),
 (1964, 'Summer', 'United States', 'USA', 25, 26, 36, 87),
 (1964, 'Summer', 'Aphrodite', 'USA', 1, 0, 0, 1),
 (1964, 'Summer', 'Bingo', 'USA', 1, 0, 0, 1),
 (1964, 'Summer', 'Glider', 'USA', 0, 1, 0, 1),
 (1964, 'Summer', 'Widgeon', 'USA', 1, 0, 0, 1),
 (1964, 'Winter', 'United States', 'USA', 5, 2, 1, 8),
 (1968, 'Summer', 'United States', 'USA', 34, 28, 45, 107),
 (1968, 'Winter', 'United States', 'USA', 1, 3, 1, 5),
 (1972, 'Summer', 'United States', 'USA', 30, 32, 33, 95),
 (1972, 'Winter', 'United States', 'USA', 3, 2, 3, 8),
 (1976, 'Summer', 'United States', 'USA', 25, 35, 35, 95),
 (1976, 'Winter', 'United States', 'USA', 5, 3, 3, 11),
 (1980, 'Winter', 'United States', 'USA', 2, 4, 6, 12),
 (1984, 'Summer', 'United States', 'USA', 30, 61, 84, 175),
 (1984, 'Winter', 'United States', 'USA', 0, 5, 4, 9),
 (1988, 'Summer', 'United States', 'USA', 27, 32, 36, 95),
 (1988, 'Winter', 'United States', 'USA', 4, 1, 2, 7),
 (1992, 'Summer', 'United States', 'USA', 38, 34, 37, 109),
 (1992, 'Winter', 'United States', 'USA', 2, 4, 5, 11),
 (1994, 'Winter', 'United States', 'USA', 2, 5, 6, 13),
 (1996, 'Summer', 'United States', 'USA', 26, 34, 44, 104),
 (1998, 'Winter', 'United States', 'USA', 4, 3, 6, 13),
 (2000, 'Summer', 'United States', 'USA', 33, 24, 36, 93),
 (2002, 'Winter', 'United States', 'USA', 11, 13, 10, 34),
 (2004, 'Summer', 'United States', 'USA', 28, 39, 37, 104),
 (2006, 'Winter', 'United States', 'USA', 7, 10, 9, 26),
 (2008, 'Summer', 'United States', 'USA', 35, 39, 37, 111),
 (2008, 'Summer', 'Brentina', 'USA', 0, 0, 0, 0),
 (2008, 'Summer', 'Mythilus', 'USA', 0, 0, 0, 0),
 (2008, 'Summer', 'Ravel', 'USA', 0, 0, 0, 0),
 (2010, 'Winter', 'United States', 'USA', 13, 16, 9, 38),
 (2012, 'Summer', 'United States', 'USA', 30, 28, 46, 104),
 (2014, 'Winter', 'United States', 'USA', 13, 7, 10, 30),
 (2016, 'Summer', 'United States', 'USA', 39, 39, 47, 125)]